Repository balejosg/whitelist: changes, and which Codecov flags are due for each by the changed paths.
All: api, dashboard

fix(shared): correct tsconfig to output dist at root level
  shared/package.json
  shared/tsconfig.json
Due: none

fix(windows): resolve PSScriptAnalyzer warnings and test discovery issues
  windows/Install-OpenPath.ps1
  windows/Uninstall-OpenPath.ps1
  windows/lib/Browser.psm1
  windows/lib/Common.psm1
  windows/lib/DNS.psm1
  windows/lib/Firewall.psm1
  windows/lib/Services.psm1
  windows/scripts/Update-OpenPath.ps1
  windows/tests/Pre-Install-Validation.ps1
  windows/tests/Windows.Tests.ps1
Due: none

fix(windows): add ShouldProcess calls and fix test discovery
  windows/lib/Browser.psm1
  windows/lib/Common.psm1
  windows/lib/DNS.psm1
  windows/lib/Firewall.psm1
  windows/lib/Services.psm1
  windows/tests/Windows.Tests.ps1
Due: none

fix(windows): correct PSScriptAnalyzer suppression attribute syntax
  windows/lib/Common.psm1
Due: none

fix(windows): add remaining ShouldProcess calls and BOM suppressions
  windows/Install-OpenPath.ps1
  windows/Uninstall-OpenPath.ps1
  windows/lib/DNS.psm1
  windows/lib/Services.psm1
  windows/tests/Pre-Install-Validation.ps1
Due: none

fix(docs): escape asterisks in markdown to fix MD037 lint error
  docs/LLM-PROMPT.md
Due: none

docs: remove obsolete and redundant documentation
  POSTGRES_MIGRATION.md
  docs/adr/0002-json-file-storage-over-database.md
  docs/llm_testing_scripts/00_indice.md
  docs/llm_testing_scripts/01_admin_tic.md
  docs/llm_testing_scripts/02_profesor.md
  docs/llm_testing_scripts/03_alumno.md
  docs/llm_testing_scripts/04_agente_linux.md
  docs/llm_testing_scripts/05_flujo_e2e.md
  docs/llm_testing_scripts/06_edge_cases_seguridad.md
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
  docs/plans/2025-12-27-trpc-migration.md
  docs/tres_amigos/04_notificacion_profesor.md
Due: none

docs: restore UAT scripts and Tres Amigos documentation
  docs/llm_testing_scripts/00_indice.md
  docs/llm_testing_scripts/01_admin_tic.md
  docs/llm_testing_scripts/02_profesor.md
  docs/llm_testing_scripts/03_alumno.md
  docs/llm_testing_scripts/04_agente_linux.md
  docs/llm_testing_scripts/05_flujo_e2e.md
  docs/llm_testing_scripts/06_edge_cases_seguridad.md
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
  docs/tres_amigos/04_notificacion_profesor.md
Due: none

fix: resolve CI failures and lint issues from refactor
  firefox-extension/tsconfig.json
  spa/e2e/classroom-management.spec.ts
  spa/e2e/teacher-dashboard.spec.ts
Due: none

fix: resolve CI failures and finalize refactor standardization
  firefox-extension/package.json
  firefox-extension/tsconfig.build.json
  firefox-extension/tsconfig.json
Due: none

refactor: improve production robustness in API and Linux scripts
  api/scripts/migrate.ts
  api/src/config.ts
  api/src/lib/health-reports.ts
  api/src/server.ts
  linux/install.sh
  linux/lib/browser.sh
  linux/lib/dns.sh
  linux/scripts/runtime/dnsmasq-watchdog.sh
  linux/scripts/runtime/openpath-cmd.sh
  linux/uninstall.sh
Due: api

docs: improve project maintainability and documentation
  .github/workflows/ci.yml
  .github/workflows/reusable-test.yml
  api/src/trpc/routers/health-reports.ts
  api/tests/security.test.ts
  dashboard/README.md
  firefox-extension/tests/background.test.ts
  firefox-extension/tests/popup.test.ts
  linux/README.md
  shared/README.md
  shared/src/schemas/index.ts
  spa/e2e/visual.spec.ts
  spa/playwright.config.ts
  windows/README.es.md
  windows/README.md
Due: api

refactor: improve technical quality across codebase
  .github/dependabot.yml
  api/src/lib/github.ts
  api/src/lib/storage.ts
  api/src/lib/token-store.ts
  api/src/lib/user-storage.ts
  api/src/server.ts
  api/src/trpc/routers/auth.ts
  api/src/trpc/routers/classrooms.ts
  api/src/trpc/routers/healthcheck.ts
  api/src/trpc/routers/push.ts
  api/src/trpc/routers/requests.ts
  api/src/trpc/routers/schedules.ts
  api/src/types/index.ts
  api/tests/storage.test.ts
  api/tests/token-store.test.ts
  codecov.yml
  dashboard/src/db.ts
  firefox-extension/package.json
  firefox-extension/src/background.ts
  firefox-extension/src/lib/logger.ts
  firefox-extension/src/popup.ts
  linux/lib/common.sh
  package.json
  shared/src/index.ts
  shared/src/schemas/index.ts
  shared/src/utils.ts
  spa/eslint.config.js
  spa/package.json
  spa/src/auth.ts
  spa/src/config.ts
  spa/src/github-api.ts
  spa/src/lib/dom.ts
  spa/src/main.ts
  spa/src/modules/classrooms.ts
  spa/src/oauth.ts
  spa/src/setup.ts
  spa/src/types/index.ts
  tests/rollback.bats
Due: api, dashboard

refactor: complete logger integration and cleanup minor leftovers
  api/src/lib/classroom-storage.ts
  api/src/lib/role-storage.ts
  api/src/lib/schedule-storage.ts
  api/src/lib/setup-storage.ts
  api/src/services/classroom.service.ts
  api/src/services/setup.service.ts
  api/src/trpc/context.ts
  api/src/trpc/trpc.ts
Due: api

style: remove unused eslint-disable in dom.ts
  spa/src/lib/dom.ts
Due: none

fix(api): improve test resilience to avoid CI conflicts
  api/tests/run-all.ts
  api/tests/storage.test.ts
Due: none

fix: ensure reliable monorepo builds and robust API
  api/package.json
  auth-worker/package.json
  dashboard/package.json
  firefox-extension/package.json
  package-lock.json
  shared/package.json
  spa/package.json
Due: none

fix(ci): fix docker builds and further stabilize API tests
  api/Dockerfile
  api/src/trpc/routers/requests.ts
  dashboard/Dockerfile
  shared/package.json
Due: api

docs: add hierarchical AGENTS.md files for workspaces
  api/AGENTS.md
  firefox-extension/AGENTS.md
  linux/AGENTS.md
  spa/AGENTS.md
  windows/AGENTS.md
Due: none

refactor(dashboard): migrate data logic to API via tRPC client
  AGENTS.md
  CLAUDE.md
  api/package.json
  api/scripts/migrate-dashboard-users.ts
  api/src/lib/groups-storage.ts
  api/src/server.ts
  api/src/services/groups.service.ts
  api/src/trpc/routers/groups.ts
  api/src/trpc/routers/index.ts
  api/tests/groups.test.ts
  api/tests/push.test.ts
  api/tests/roles.test.ts
  api/tests/security.test.ts
  api/tests/token-store.test.ts
  dashboard/README.md
  dashboard/package.json
  dashboard/src/api-client.ts
  dashboard/src/db.ts
  dashboard/src/index.ts
  dashboard/src/trpc.ts
  dashboard/tests/api.test.ts
  dashboard/tests/db.test.ts
  docs/APP_DESCRIPTION.md
  docs/IMPLEMENTATION-GUIDE.md
  docs/MARKET_SPACE_K12_EU.md
  docs/adr/0008-dashboard-trpc-client-refactor.md
Due: api, dashboard

fix(ci): update package-lock.json to sync with dashboard changes
  package-lock.json
Due: none

fix(ci): align trpc versions and sync package-lock.json
  dashboard/package.json
  package-lock.json
  package.json
Due: none

fix(ci): adjust dashboard coverage thresholds for proxy architecture
  dashboard/package.json
Due: none

fix(ci): adjust dashboard coverage thresholds and ignore coverage in eslint
  dashboard/eslint.config.js
Due: none

fix(ci): ensure API server is running during SPA E2E tests
  .github/workflows/ci.yml
  spa/playwright.config.ts
Due: none

fix(ci): skip visual regression tests in CI until baselines are provided
  spa/e2e/visual.spec.ts
Due: none

feat(e2e): add comprehensive E2E test suite with smoke/full split
  .github/workflows/ci.yml
  .github/workflows/e2e-comprehensive.yml
  .github/workflows/spa-e2e.yml
  docs/llm_testing_scripts/00_indice.md
  docs/llm_testing_scripts/03_alumno.md
  docs/llm_testing_scripts/04_agente_linux.md
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
  spa/e2e/admin-classrooms.spec.ts
  spa/e2e/admin-domains.spec.ts
  spa/e2e/admin-health.spec.ts
  spa/e2e/admin-requests.spec.ts
  spa/e2e/admin-users.spec.ts
  spa/e2e/auth.spec.ts
  spa/e2e/blocked-domain.spec.ts
  spa/e2e/edge-cases-security.spec.ts
  spa/e2e/fixtures/auth.ts
  spa/e2e/schedules.spec.ts
  spa/e2e/setup-flow.spec.ts
  spa/e2e/student-view.spec.ts
  spa/e2e/teacher-flow.spec.ts
  tests/e2e/Dockerfile.bats-runner
  tests/e2e/agent-integration.bats
  tests/e2e/docker-compose.e2e.yml
Due: none

docs: update testing documentation for E2E smoke/comprehensive split
  AGENTS.md
  CONTRIBUTING.md
  spa/README.md
Due: none

docs: Revise feedback report with updated metrics, a general verdict, prioritized bugs, and detailed test outcomes.
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
Due: none

fix(spa): surface setup link and wire token copy
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
  spa/index.html
  spa/src/main.ts
Due: none

fix(ci): resolve markdown lint and SPA path for E2E tests
  api/src/server.ts
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
Due: api

fix(spa): remove duplicate users-section ID and fix auth test
  spa/e2e/auth.spec.ts
  spa/index.html
Due: none

fix(spa): use tRPC endpoints in setup.html instead of REST
  spa/setup.html
Due: none

test(e2e): remove @smoke tag from flaky setup-flow test
  spa/e2e/setup-flow.spec.ts
Due: none

Fix bugs #5, #4, and #3: Login loading indicator, improved login error message, and password recovery functionality.
  api/drizzle/0002_flashy_venus.sql
  api/drizzle/meta/0002_snapshot.json
  api/drizzle/meta/_journal.json
  api/src/db/relations.ts
  api/src/db/schema.sql
  api/src/db/schema.ts
  api/src/lib/reset-token-storage.ts
  api/src/services/auth.service.ts
  api/src/trpc/routers/auth.ts
  spa/css/style.css
  spa/index.html
  spa/reset-password.html
  spa/src/main.ts
  spa/src/modules/users.ts
Due: api

Fix deploy: use sudo for service restart
  .github/workflows/reusable-deploy.yml
Due: none

Path conditions:
  api: any of: api/src/
  dashboard: any of: dashboard/src/
