Repository balejosg/whitelist: changes, and which Codecov flags are due for each by the changed paths.
All: api, dashboard, spa, shared, auth-worker, firefox-extension

fix(api): add unpkg.com to CSP for Open Props
  api/src/server.ts
Due: api

fix(auth): resolve Google login popup race condition and COOP header
  api/.env.example
  api/drizzle/0004_add-google-auth.sql
  api/drizzle/meta/_journal.json
  api/src/config.ts
  api/src/db/schema.ts
  api/src/lib/user-storage.ts
  api/src/server.ts
  api/src/services/auth.service.ts
  api/src/trpc/routers/auth.ts
  shared/src/schemas/index.ts
  spa/index.html
  spa/src/google-auth.ts
  spa/src/modules/app-core.ts
Due: api, spa, shared

fix(spa): replace console.log with logger in google-auth
  spa/src/google-auth.ts
Due: spa

fix(spa): remove unused imports and fix eslint errors in main.ts and groups.ts
  spa/src/main.ts
  spa/src/modules/groups.ts
Due: spa

fix(api): add missing google-auth-library dependency
  api/package.json
Due: none

fix(api): regenerate package-lock.json with google-auth-library
  package-lock.json
Due: none

fix(spa): use correct localStorage key for auth token
  spa/src/push.ts
  spa/src/trpc.ts
Due: spa

fix(api): auto-assign admin role to first Google OAuth user
  api/src/services/auth.service.ts
Due: api

fix(spa,api): load classrooms on dashboard and normalize schedule time format
  api/src/services/schedule.service.ts
  spa/src/modules/groups.ts
Due: api, spa

fix(spa): add missing click listener for new classroom button
  spa/src/modules/classrooms.ts
Due: spa

fix(spa): restore GitHub login button and update test port
  spa/index.html
  spa/playwright.config.ts
  spa/src/modules/app-core.ts
Due: spa

fix(spa): center google sign-in button
  spa/css/style.css
Due: none

chore(api): add drizzle migration snapshot
  api/drizzle/meta/0003_snapshot.json
Due: none

fix(spa): adjust google login button width to match form
  spa/src/google-auth.ts
Due: spa

fix: explain magic number for google button width
  spa/src/google-auth.ts
Due: spa

fix(spa): restore registration link structure
  spa/index.html
Due: none

fix(spa): complete login page cleanup - remove oauth, add test
  spa/css/style.css
  spa/e2e/auth.spec.ts
  spa/e2e/login-ui.spec.ts
  spa/src/modules/app-core.ts
  spa/src/oauth.ts
  spa/src/types/index.ts
Due: spa

fix(spa): make Google button width responsive for mobile
  spa/src/google-auth.ts
Due: spa

feat(spa): redesign login page with glassmorphism and password toggle
  spa/css/style.css
  spa/index.html
  spa/src/main.ts
Due: spa

fix(spa): add autocomplete attributes to password and email inputs
  spa/index.html
Due: none

feat(shared): add StrongPasswordSchema with uppercase/lowercase/number validation
  shared/src/schemas/index.ts
Due: shared

fix: improve build pipeline and code quality
  .github/workflows/reusable-test.yml
  fix_classrooms.py
  package.json
Due: none

fix: add openpath-admin to UserRole enum
  shared/src/schemas/index.ts
Due: shared

fix: update test passwords and shared tsconfig to meet requirements
  shared/tests/schemas.test.ts
  shared/tsconfig.json
Due: none

fix: revert shared tsconfig change and ignore shared tests in eslint
  eslint.config.js
  shared/tsconfig.json
Due: none

fix(e2e): improve login wait reliability in multi-user flow
  spa/e2e/multi-user-flow.spec.ts
Due: none

fix(load-test): use existing endpoints for load testing
  api/tests/load/load-test.js
Due: none

fix(e2e): reduce long input size and improve wait in security tests
  spa/e2e/edge-cases-security.spec.ts
Due: none

fix(load-test): fix syntax errors and cleanup unused endpoints
  api/tests/load/load-test.js
Due: none

fix(e2e): add global setup to seed database and improve test reliability
  spa/e2e/global-setup.ts
  spa/e2e/multi-user-flow.spec.ts
  spa/playwright.config.ts
Due: none

fix(e2e): fix type error in global setup
  spa/e2e/global-setup.ts
Due: none

fix(e2e): use string path for globalSetup to avoid require error in ESM
  spa/playwright.config.ts
Due: none

fix(e2e): only target visible inputs in security tests
  spa/e2e/edge-cases-security.spec.ts
Due: none

fix(e2e): improve dashboard visibility wait in multi-user flow
  spa/e2e/multi-user-flow.spec.ts
Due: none

perf(spa): improve login UX by showing dashboard immediately
  spa/e2e/global-setup.ts
  spa/e2e/multi-user-flow.spec.ts
  spa/src/modules/app-core.ts
Due: spa

fix(spa): prevent context.close() errors in test cleanup
  spa/e2e/multi-user-flow.spec.ts
Due: none

fix(spa): show dashboard immediately for all authenticated users
  spa/src/modules/app-core.ts
Due: spa

perf(ci): optimize E2E comprehensive workflow with sharding and caching
  .github/workflows/e2e-comprehensive.yml
  spa/playwright.config.ts
Due: none

perf(ci): optimize E2E sharding - reduce from 3 to 2 shards, chromium only
  .github/workflows/e2e-comprehensive.yml
Due: none

Path conditions:
  api: any of: api/src
  dashboard: any of: dashboard/src
  spa: any of: spa/src
  shared: any of: shared/src
  auth-worker: any of: auth-worker/src
  firefox-extension: any of: firefox-extension/src
