Repository balejosg/whitelist: changes, and which Codecov flags are due for each by the changed paths.
All: api, dashboard, spa, shared, auth-worker, firefox-extension

Add mandatory UAT preflight checklist and delete invalid FEEDBACK_REPORT
  docs/llm_testing_scripts/00_indice.md
  docs/llm_testing_scripts/00_preflight_checklist.md
  docs/llm_testing_scripts/FEEDBACK_REPORT.md
Due: none

feat(e2e): add extended E2E tests for API integration and multi-user flows
  .github/workflows/e2e-comprehensive.yml
  spa/e2e/api-integration.spec.ts
  spa/e2e/fixtures/api-fixtures.ts
  spa/e2e/fixtures/auth.ts
  spa/e2e/fixtures/seed-data.ts
  spa/e2e/multi-user-flow.spec.ts
  spa/e2e/push-notifications.spec.ts
  tests/selenium/firefox-extension.e2e.ts
  tests/selenium/package.json
  tests/selenium/tsconfig.json
Due: none

docs: delete LLM testing scripts and related documentation.
  docs/LLM-PROMPT.md
  docs/llm_testing_scripts/00_indice.md
  docs/llm_testing_scripts/00_preflight_checklist.md
  docs/llm_testing_scripts/01_admin_tic.md
  docs/llm_testing_scripts/02_profesor.md
  docs/llm_testing_scripts/03_alumno.md
  docs/llm_testing_scripts/04_agente_linux.md
  docs/llm_testing_scripts/05_flujo_e2e.md
  docs/llm_testing_scripts/06_edge_cases_seguridad.md
Due: none

Crear grupo prueba
  grupos/prueba.txt
Due: none

fix(ci): resolve perf-test k6 and e2e-comprehensive failures
  .github/workflows/e2e-comprehensive.yml
  .github/workflows/perf-test.yml
  api/tests/load/load-test.js
  spa/e2e/edge-cases-security.spec.ts
Due: none

fix(e2e): fix multi-user-flow tests to accept hidden class
  spa/e2e/multi-user-flow.spec.ts
Due: none

fix(e2e): fix remaining SPA E2E test failures
  spa/e2e/auth.spec.ts
  spa/e2e/setup-flow.spec.ts
  spa/e2e/student-view.spec.ts
  spa/e2e/teacher-flow.spec.ts
Due: none

fix(spa): externalize setup.js to fix CSP inline script issue and update eslint ignore
  eslint.config.js
  spa/js/setup.js
  spa/setup.html
Due: none

fix(deploy): add database migrations to deployment workflow
  .github/workflows/reusable-deploy.yml
Due: none

fix(deploy): source .env before running database migrations
  .github/workflows/reusable-deploy.yml
Due: none

fix(deploy): make migration non-fatal and check api/.env
  .github/workflows/reusable-deploy.yml
Due: none

fix(api): auto-initialize database schema on server startup
  api/src/db/index.ts
  api/src/server.ts
Due: api

fix(api): copy schema.sql to dist during build for auto-init
  api/package.json
Due: none

docs: add required configuration section to README
  README.md
  api/src/lib/swagger.ts
Due: api

feat: remove instance-specific hardcodes for OSS upstream
  PLAN-separation.md
  PLAN-token-delivery.md
  api/drizzle/0003_machine_download_token.sql
  api/src/config.ts
  api/src/db/schema.ts
  api/src/lib/classroom-storage.ts
  api/src/lib/logger.ts
  api/src/lib/machine-download-token.ts
  api/src/server.ts
  api/src/services/classroom.service.ts
  auth-worker/README.md
  auth-worker/wrangler.toml
  firefox-extension/src/config.ts
  linux/install.sh
  linux/lib/common.sh
  linux/quick-install.sh
  spa/src/oauth.ts
  windows/data/config.json
Due: api, spa, firefox-extension

chore: remove remaining instance-specific defaults
  api/src/lib/swagger.ts
  docker-compose.prod.yml
  spa/e2e/fixtures/api-fixtures.ts
  spa/e2e/fixtures/auth.ts
Due: api

feat(api): implement token delivery REST endpoints
  api/src/server.ts
Due: api

feat(linux): update install.sh for token delivery registration
  linux/install.sh
Due: none

feat(linux): simplify update script and add rotate-token command
  linux/scripts/runtime/openpath-cmd.sh
  linux/scripts/runtime/openpath-update.sh
Due: none

feat(windows): add token delivery support for classroom mode
  windows/Install-OpenPath.ps1
  windows/Rotate-Token.ps1
Due: none

test(api): add token delivery endpoint tests
  api/package.json
  api/tests/token-delivery.test.ts
Due: none

feat(dashboard): add machines table with token status and rotation
  api/src/lib/classroom-storage.ts
  api/src/trpc/routers/classrooms.ts
  spa/css/style.css
  spa/index.html
  spa/src/main.ts
  spa/src/modules/classrooms.ts
Due: api, spa

chore: move SaaS components to ClassroomPath downstream
  .github/workflows/deploy-api.yml
  .github/workflows/deploy.yml
  .github/workflows/reusable-deploy.yml
  auth-worker/README.md
  auth-worker/eslint.config.js
  auth-worker/package.json
  auth-worker/src/utils.ts
  auth-worker/src/worker.ts
  auth-worker/tests/utils.test.ts
  auth-worker/tests/worker.test.ts
  auth-worker/tsconfig.json
  auth-worker/wrangler.toml
  package.json
Due: auth-worker

refactor(api): migrate whitelist storage from GitHub to PostgreSQL
  api/src/config.ts
  api/src/lib/github.ts
  api/src/lib/groups-storage.ts
  api/src/server.ts
  api/src/services/classroom.service.ts
  api/src/services/request.service.ts
  api/src/trpc/routers/classrooms.ts
  api/src/trpc/routers/healthcheck.ts
  api/src/trpc/routers/requests.ts
  api/src/types/storage.ts
  api/tests/github.test.ts
  api/tests/schedules.test.ts
Due: api

fix(ci): remove missing deploy workflow and Dockerfile references
  .github/workflows/ci.yml
  api/Dockerfile
Due: none

fix(ci): remove auth-worker references and fix test schema
  .github/workflows/ci.yml
  api/tests/token-delivery.test.ts
  dashboard/Dockerfile
Due: none

fix(tests): update tests for PostgreSQL-based group storage
  api/tests/blocked-domains.test.ts
  api/tests/classrooms.test.ts
  api/tests/token-delivery.test.ts
Due: none

fix(tests): remove obsolete tRPC endpoint tests and relax approval assertions
  api/tests/blocked-domains.test.ts
  api/tests/classrooms.test.ts
Due: none

fix(tests): add display_name to whitelist_groups insert in token-delivery tests
  api/tests/token-delivery.test.ts
Due: none

feat(ci): add kcov coverage for bash tests and document OpenPath independence rule
  .github/workflows/reusable-test.yml
  AGENTS.md
Due: none

refactor(spa): unify setup wizard with dashboard, remove standalone setup.html
  README.md
  api/README.md
  spa/css/style.css
  spa/e2e/edge-cases-security.spec.ts
  spa/e2e/setup-flow.spec.ts
  spa/index.html
  spa/js/setup.js
  spa/setup.html
  spa/src/main.ts
  spa/src/modules/app-core.ts
  spa/src/setup.ts
Due: spa

fix(ci): remove kcov from bash tests (unavailable in Ubuntu apt)
  .github/workflows/reusable-test.yml
Due: none

chore: cleanup legacy files and document stable contracts
  AGENTS.md
  PLAN-separation.md
  PLAN-token-delivery.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: technical quality improvements across codebase
  VERSION
  firefox-extension/manifest.json
  firefox-extension/native/openpath-native-host.py
  firefox-extension/src/background.ts
  linux/install.sh
  linux/lib/common.sh
  linux/lib/rollback.sh
  package.json
  shared/README.md
  spa/esbuild.config.mjs
  spa/package.json
  spa/tsconfig.json
  tests/rollback.bats
Due: firefox-extension

fix(ci): read version from VERSION file instead of parsing install.sh
  .github/workflows/release-scripts.yml
Due: none

fix(ci): accept manifest_version 2 or 3 in validation
  tests/e2e/pre-install-validation.sh
Due: none

fix(e2e): fix flaky setup-flow tests
  spa/e2e/setup-flow.spec.ts
Due: none

fix(spa): copy CSS to dist/ during build
  spa/package.json
Due: none

fix(spa): sync HTML with esbuild bundle output
  spa/esbuild.config.mjs
  spa/index.html
  spa/reset-password.html
  spa/src/reset-password.ts
Due: spa

Path conditions:
  api: any of: api/src
  dashboard: any of: dashboard/src
  spa: any of: spa/src
  shared: any of: shared/src
  auth-worker: any of: auth-worker/src
  firefox-extension: any of: firefox-extension/src
